* {
  padding: 0;
  margin: 0;
}

body {
    background-color: #2a2a2a;
    font-family: 'Roboto', sans-serif; /* sets font to Roboto or any san-serif font if Roboto unavailable*/
    font-size: 100%;
 }

.container {
  position: relative; /* position relative to normal position */
  width: 80%; /* width = 80% of screen width*/
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 1px solid #000;


 }


.header {
  padding: 0;
  margin: 0;
  height: 200px;
  background-color: deepskyblue;


 }

.header-img {
   position: absolute; /*position relative to parent (header)*/
   border-radius: 100%; /*makes image oval shaped*/
   top: 15px;
   left: 15px;
   border: 4px solid #000;
 }

.header-main {
   position: absolute;
   color: white;
   top: 75px;
   left: 150px;


 }

.header-sub {
  color: white;
  position: absolute;
  top: 125px;
  left: 150px;

 }


.header img:hover {
  transform: scale(1.05); /*increases image size when hovered over*/
 }


.navigation {
  background-color: #999;
  text-align: center;
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.navigation ul {
  padding: 0;
  margin: 0;
}

.navigation li {

  display: inline-block;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 20px;
  text-transform: uppercase;

}


.navigation a {
  text-decoration: none;
  color: white;

}


.navigation li a:hover {
  color: white;
  text-decoration: underline; /*underlines text on hover*/
}


.content {
  height: 100%;
}


.main-txt {
  padding: 50px;
  text-align: center;
  font-size: 2em;
}

.main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  max-height: 400px;
  max-width: 80%;
  margin-bottom: 50px;
  border-radius: 25px;

}

.footer {
  margin: auto;
  padding: 10px;
  color: white;
  background-color: #999;
}


/* Media Queries */
@media screen and (max-width: 700px) {  /*makes the changes below when the screen size is 700px and below*/

.container {
  position: relative;
  width: 100%;
  background-color: white;
  border: 1px solid #000;
}



.header-main {
  font-size: 1.5em;

}

.header-sub {
  font-size: 1em;
}
.main-txt {
  font-size: 1em;

}

@media screen and (max-width: 400px) { /*makes the changes below when the screen size is 400px and below*/

.container {
    position: relative;
    width: 100%;
    background-color: white;
    border: 1px solid #000;
}

.header-main {
    font-size: 1em;

  }

.header-sub {
    font-size: 0.7em;
  }

}
